.container {
  min-height: 100vh;
  padding: 30px;
  background: radial-gradient(circle at top, #111827, #020617);
}

/* CARD */
.card {
  max-width: 1100px;
  margin: auto;
  background: rgba(17, 24, 39, 0.8);
  border-radius: 20px;
  overflow: hidden;
  backdrop-filter: blur(10px);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.bottom-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 20px;
}

@media (max-width: 768px) {
  .bottom-section {
    display: block;
  }
}
